* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  width: 50%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

h3 {
  margin: 10px 0 0 0;
  color: #0f1425;
}

img {
  max-width: 450px;
  max-height: 300px;
  margin: 20px;
}

.tab {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 0 30px 30px;
}

.file-input {
  display: none;
}

.file-label {
  background-color: #0f1425;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.file-label:hover {
  background-color: #141b31;
}

input[type="button"] {
  background-color: #0f1425;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  display: inline-block;
  text-align: center;
}

input[type="button"]:hover {
  background-color: #141b31;
}

.color-code {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 7px;
}

section {
  position: relative;
  display: inline-block;
}

input[type="text"] {
  height: 40px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  color: #141b31;
  outline: none;
  padding-left: 10px;
}

i {
  position: absolute;
  left: 90%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #cfd0d3;
  cursor: pointer;
}

i:hover {
  color: #141b31;
}

button {
  border-radius: 4px;
  height: 87px;
  border: 10px solid #f2f2f2;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.message {
  display: block;
  font-size: 15px;
  margin-bottom: 10px;
  height: 10px;
  color: #141b31;
}

/* Responsive */

@media only screen and (max-width: 1280px) {
  .container {
    width: 60%;
  }
}

@media only screen and (max-width: 900px) {
  img {
    max-width: 450px;
    max-height: 300px;
  }
  .container {
    width: 75%;
  }
}

@media only screen and (max-width: 640px) {
  img {
    max-width: 400px;
    max-height: 300px;
  }
  .container {
    width: 85%;
  }
}

@media only screen and (max-width: 475px) {
  img {
    max-width: 350px;
    max-height: 350px;
  }
  .container {
    width: 90%;
  }
}
